<div class="row">
  @for (image of imageList; track $index) {
  <img
    class="col-lg-3"
    [src]="image?.src"
    (click)="onClickImage(image)"
    [alt]="image?.src"
  />
  }
</div>

<div class="overlay" id="overlay"></div>
<dialog
  class="rounded-4 shadow"
  id="mydialog"
  #dialog
  [open]="isImageOpened"
  (close)="dialogClosed()"
>
  <header>
    <div class="col-lg-2">
      <span>&#8631; </span>
      <span>Del</span>
    </div>
    <div class="col-lg-9">
      <span>Zoom +</span>
      <span>Zoom -</span>
    </div>
    <div class="col-lg-1">
      <span></span>
      <span (click)="closeDialog()">&#10060;</span>
    </div>
  </header>
  <div>
    <br />
    <img [src]="imageOpenedData?.src" [alt]="imageOpenedData?.src" />
  </div>
</dialog>
